<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/functions.js"></script>
</head>
<body>

    <table class="table" id="employee_table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Date of birth</th>
            <th>Salary</th>
            <th>Condition</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div>
        <form action="/api">
            <input type="submit" value="Back" />
        </form>

        <form action="/api/employee/csv" method="GET">
            <input type="submit" value="Get CSV" />
        </form>

    </div>

</body>
</html>