<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/functions.js"></script>
</head>
<body>
<table class="table" id="group_table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rates</th>
        <th>Employees</th>
        <th>Max</th>
        <th>Percentage</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form action="/api">
    <input type="submit" value="Back"/>
</form>
</body>
</html>