<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rates</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/functions.js"></script>
</head>
<body>
<table class="table" id="rate_table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Value</th>
        <th>Group</th>
        <th>Date</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form action="/api">
    <input type="submit" value="Back"/>
</form>
</body>
</html>